<div class="header">
    
    <!-- <demo:responsive-website-header> -->
<div class="dc-global-header-wrapper is-hidden-small" data-dc-global-header="clone-apple"
data-dc-target="large"
data-dc-source="default"
data-dc-layout="default"
data-dc-appearance="scheme-default"
data-dc-action="default"
data-dc-state="default" style="background-color: #e27d60;">
<div class="dc-global-header" >

<div class="dc-section-wrapper">
<div class="dc-section">

<div class="dc-section-body-wrapper">
<div class="dc-section-body">

<div class="dc-cell-wrapper" data-dc-cell="primary" >
<div class="dc-cell" >

<!-- <dc-element:nav-menu> -->
<div class="dc-element-wrapper" data-dc-element="nav-menu-justify"
          data-dc-source="default"
          data-dc-layout="horizontal"
          data-dc-appearance="default"
          data-dc-action="default"
          data-dc-state="default"
         >
<ul class="dc-element">


<li class="dc-element-item">PhoneShop</li>
<li class="dc-element-item"><a href="/">Home</a></li>
<li class="dc-element-item"><a href="/login">Login</a></li>
<li class="dc-element-item"><a href="#">AboutUs</a></li>
<li class="dc-element-item"><a href="#">ContactUs</a></li>
<li class="dc-element-item"><a href="#">Profile</a></li>

<li class="dc-element-item"><a href="#"><i class="dc-icon-glyph dc-icon-glyph-x-small dc-icon-glyph-shopping-cart"></i></a></li>

<!-- ... -->

<li class="dc-element-item justify"></li>

</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="dc-global-header-wrapper is-hidden-large" data-dc-global-header="clone-apple"
data-dc-target="small"
data-dc-source="default"
data-dc-layout="default"
data-dc-appearance="scheme-default"
data-dc-action="default"
data-dc-state="default">
<div class="dc-global-header">

<div class="dc-section-wrapper">
<div class="dc-section">

<div class="dc-section-body-wrapper">
<div class="dc-section-body">

<div class="dc-cell-wrapper" data-dc-cell="primary">
<div class="dc-cell">

<!-- <dc-element:nav-menu> -->
<div class="dc-element-wrapper" data-dc-element="nav-menu"
          data-dc-source="default"
          data-dc-layout="horizontal"
          data-dc-appearance="default"
          data-dc-action="default"
          data-dc-state="default"
          >
<ul class="dc-element">

<li class="dc-element-item">
<a href="#"><i class="dc-icon-glyph dc-icon-glyph-x-small dc-icon-glyph-bars"style="line-height: 48px;"></i></a>
</li>
</ul>
</div>
</div>
</div>

<div class="dc-cell-wrapper" data-dc-cell="secondary">
<div class="dc-cell">

<!-- <dc-element:nav-menu> -->
<div class="dc-element-wrapper" data-dc-element="nav-menu"
          data-dc-source="default"
          data-dc-layout="horizontal"
          data-dc-appearance="default"
          data-dc-action="default"
          data-dc-state="default"
          >
<ul class="dc-element">

<li class="dc-element-item">
<a href="#"><i class="dc-icon-glyph dc-icon-glyph-small dc-icon-glyph-apple"style="line-height: 48px;"></i></a>
</li>
</ul>
</div>
</div>
</div>

<div class="dc-cell-wrapper" data-dc-cell="tertiary">
<div class="dc-cell">

<!-- <dc-element:nav-menu> -->
<div class="dc-element-wrapper" data-dc-element="nav-menu"
          data-dc-source="default"
          data-dc-layout="horizontal"
          data-dc-appearance="default"
          data-dc-action="default"
          data-dc-state="default"
          >
<ul class="dc-element">

<li class="dc-element-item">
<a href="#"><i class="dc-icon-glyph dc-icon-glyph-x-small dc-icon-glyph-shopping-cart"style="line-height: 48px;"></i></a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<link rel="stylesheet" type="text/css" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/326786/global-header.css" />
<link rel="stylesheet" type="text/css" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/326786/dc-section.css" />
<link rel="stylesheet" type="text/css" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/326786/dc-utility.classes.css" />
<link rel="stylesheet" type="text/css" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/326786/dc-utility.css-reset.css" />
<link rel="stylesheet" type="text/css" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/326786/dc-utility.appearance.color.css" />
<link rel="stylesheet" type="text/css" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/326786/dc-utility.appearance.typography.css" />
<link rel="stylesheet" type="text/css" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/326786/dc-utility.icon.glyph.css" />
<link rel="stylesheet" type="text/css" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/326786/dc-element.nav-menu.css" />
   
</div>