<html>
    <head>
        <link rel="stylesheet" href="login_style.css">
        <script src="loginjs.js"></script>
    </head>
    <body>
        <%- include('header'); %>

        <div class="login-page">
            <div class="form">
            <h3 class="form-title">Welcome Back</h3>

            <!--register form-->
              <form class="register-form">
                <input type="text" placeholder="name"/>
                <input type="password" placeholder="password"/>
                <input type="text" placeholder="email address"/>
                <button>create</button>
                <p class="message">Already registered? <a href="#">Sign In</a></p>
              </form>

              <!--login form-->
              <form class="login-form" action="/login" method="post">
                <input type="text" placeholder="username" name="username" required/>
                <input type="password" placeholder="password" name="password" required/>
                <button>login</button>
                <p class="message">Not registered? <a href="/signup">Create an account</a></p>
              </form>
            </div>
          </div>

          <%- include('footer') %>
        
    </body>
</html>